.clear {
  clear: both;
}

.text-justify {
  text-align: justify !important;
}

.text-left {
  text-align: left !important;
}

.font-size-12 {
    font-size: 12px !important;
}

.font-size-20 {
    font-size: 20px !important;
}

.modal-submit-btn {
  /*cursor: initial !important;*/
}

#ambulance_name-error, #ambulance_contact-error, #ambulance_email-error, #homecare_name-error, #homecare_contact-error, #homecare_email-error, #medicines_name-error, #medical_contact-error, #medical_email-error, #ref_name-error, #referrer_number-error, #ref_pat_name-error, #patient_number-error, #reg_hospital-error, #primary_cont_name-error, #reg_contact-error, #queryemail-error, #querymessage-error {
  font-size: 12px;
}

.no-padding-l {
  padding-left: 0px !important;
}

.neg-margin-top {
  margin-top: -6px;
}

.second-list.nurse li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}
.med-sub-sub-title.nurse {
  margin-top: 30px;
  font-size: 16px;
}

/* check box style */

/* The container */
.popup-check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.popup-check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.popup-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #808080;
}

/* On mouse-over, add a grey background color 
.popup-check-container:hover input ~ .popup-checkmark {
    background-color: #ccc;
} */

/* When the checkbox is checked, add a blue background */
.popup-check-container input:checked ~ .popup-checkmark {
    background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.popup-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.popup-check-container input:checked ~ .popup-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.popup-check-container .popup-checkmark:after {
    left: 6px;
    top: 1px;
    width: 7px;
    height: 13px;
    border: solid #2196F3;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* End of check box style */

.what_we_offer_head {
      color: white;
      width: 200px;
      /*text-align: left;*/
   }

.form-control {
  font-size: 16px!important;
}

.modalclosebtn {
  background-color: white; 
  border: 2px solid #fb4f59;
}

.modalclosebtn:hover {
  color: white;
  background-color: #fb4f59;
}

.referpatients_span {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0;
}

#patients {
  background-image: linear-gradient(rgba(16, 17, 153, 0.7),rgba(237, 42, 84, 0.7)),url("images/website_background.jpg");
}

.copyright_p {
  color: black; 
  text-align: justify; 
  letter-spacing: 0.5px; 
  font-size: 13px;
}

.backtotop_btn {
  position: absolute; 
  right: 50px; 
  bottom: 20px;
}

.referpatients_p {
  font-size: 13px; 
  line-height: 20px; 
  text-align: justify; 
  width: 80%; 
  margin: 0 auto;
}

.privacy_backtotop {
  position: relative;
  left: 95%;
  bottom: 20px;
}

.tos_backtotop {
  position: relative;
  left: 95%;
  bottom: 20px;
}


#know_more_2nd {
  margin-bottom: 50px!important;
}

#partners_p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.partner_login_row .partner_top {
  height: 20%; 
  display: flex; 
  align-items: center; 
  justify-content: flex-start; 
  flex-direction: column;
}

.partner_close {
  align-self: flex-end; 
  padding-right: 15px; 
  font-size: 30px; 
  color: #aaa;
}

.partner_login_row .partner_h4 {
  align-self: center; 
  margin-top: 30px; 
  font-size: 22px;
}

.partner_login_form img {
  margin-top: 0px;
  height: 30px; 
  width: 30px;
}

.partner_login_form .form-check {
  align-self: flex-end; 
  padding-right: 15px;
}

.partner_login_form .form-check a {
  text-decoration: none; 
  font-size: 14px; 
  color: #2f3790;
}

.partner_login_cont .partner_bottom_row {
  height: 20%; 
  width: 100%; 
  margin-left:0; 
  background-color: #2f3790; 
  color: white;
}

.partner_bottom_row p {
  font-size: 12px; 
  width: 75%; 
  margin: 0 auto;
}


h3.haveQueryDiv span { 
  /*margin-top: -4em;   
  padding-bottom: 4em; */
  display: block; 
}

.partner_login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  justify-content: space-around;
}

.partner_login_form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: blue;
    
}

.partner_login_form input {
  width: 80%;
  margin: 0 auto;
  border: none!important;
  background-color: transparent;
  border-top: none!important;
  border-radius: 0;
  display: inline;
  font-size: 13px;
  font-weight: 500;
  padding: 0;
  padding-left: 10px;
  -webkit-appearance : none;
}

.partner_login_cont {
  width: 25%; 
  margin: 5% auto 10% auto; 
  height: 70vh; 
  padding: 0; 
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 5px 0 5px -4px rgba(31, 73, 125, 0.8), -5px 0 5px -4px rgba(31, 73, 125, 0.8);
}

.partner_login_row {
  height: 80%; 
  width: 100%; 
  background-color: white; 
  margin-left: 0; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-around;
}


.newform:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}

#input_id {
  outline: none!important;
}

.partner_login_form .form-group {
  width: 80%;
}

.partner_login_form .form-group-email {
  border-bottom: 1px solid #ccc;
}

.partner_login_form .submit_btn {
  height: 2.5rem;
  width: 7.5rem;
  background-color: #2f3790;
  color: white;
}

#new_anchor:after {
  background: #333;
    width: 0px;
    height: 1px;
    position: absolute;
    bottom: 0px;
    content: '';
    left: 15px;
    opacity: 0;
}

#new_anchor:hover:after {
  transition: all ease .3s;
}

.icon_class {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: lightgrey;
  text-align: center;
  color: #7d7d7d;
  border-radius: 50%;
  display: inline-block;
  font-size: 18px;
}


.icon_class:hover .fa-facebook {
  transition: 0.5s;
  color: white;
}

.icon_class:hover .fa-twitter {
  transition: 0.5s;
  color: white; 
}

.icon_class:hover .fa-linkedin {
  transition: 0.5s;
  color: white; 
}

.icon_class:hover {
  transition: 0.5s ease;
  background-color: #2f3790;
}

.carousel_slide3 {
  display: flex; 
  justify-content: flex-end; 
  align-items: center; 
  position: relative; 
}

/*  #termsdiv > .terms {
    order: 3;
  }.backtotop_btn {
  position: absolute; 
  right: 50px; 
  bottom: 100px;
}

  #termsdiv > .version_number {
    order: 1;
  }*/

.whatwedo_p {
  visibility: visible;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-name: fadeInUp; 
  width: 70%; 
  text-align: left; 
  font-size: 13px;
}

.copyright_class {
  display: flex; 
  flex-direction: column; 
  justify-content: space-around; 
  align-items: center; 
  order: 3;
}

.footer_class {
  display: flex; 
  align-items: center; 
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}

.menu_links.menu_links {
  color: #333!important;
}

.privacy_footer {
  background-color: white; 
  border-top: 0.5px solid lightgrey;
}

.social_icons img:hover {
  cursor: pointer;
}

  .version_number:hover {
    color: #2f3790!important;
  }

#last_submit:hover {
  background-color: grey!important;
  color: #2f3790!important;
}


input[type='number'] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

  #partners_focus {
    width: 80%;
    margin:0 auto;
    text-align: justify;
  }

  .footer_p {
      float: left;
   }

  #partners {
   padding-top: 2.5em;
 }

    .hospitalspan {
   height: 425px;
  }


  #whatwedo {
    padding-top: 40px;
  }

  #referapatients {
    padding-top: 80px;
  }

  #whoweare:focus, #whatwedo:focus, #patients:focus, #referapatients:focus, #partners:focus, #haveQuery:focus {
    outline: none;
  }

  html, body {
    width: 100vw!important;
    overflow-x: hidden;
    /*height: 100vh;*/
  }

  .hospital_img {
    margin: 0 auto;
  }

   #meds_equip {
      text-align: left;
   }

.whatweoffer_card {
  display: flex; 
  justify-content: space-around;
  padding: 20px;
}

.what_we_offer_head {
   color: white;
   font-size: 22px;
}

.item {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-bottom {
   display: flex; 
   justify-content: space-between;
   height: 70px;
   align-items: center;
}

.social_icons {
   width: 100%; 
   margin: 0 auto; 
   display: flex;
   justify-content: center;
}


#slide2_div {
   width: 80%; 
   height: 100vh; 
   margin: 0 auto; 
   display: flex; 
   flex-direction: column;
   justify-content: center!important; 
   align-items: center;
   padding-bottom: 25px;
}

#slide2_div.purpose_class {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
}

#slide2_div.purpose_class p {
   color: white; 
   margin:0 auto;
   font-size: 14px!important; 
   font-weight: 300;
   margin-top: -10px;
}

#slide2_div.partner_class p {
   color: white; 
   margin:0 auto;
   font-size: 14px!important; 
   font-weight: 300;
}


#slide2_div.serve_class p {
   color: white; 
   margin:0 auto;
   font-size: 14px!important; 
   font-weight: 300;
   margin-top: -10px;
}

#slide2_div.serve_class {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
/*
.footer_p {
  position: relative;
  left: 20px;
}*/


.media_icons {
  width: 13em; 
  margin-top: 5px; 
  margin-left: 10px; 
  display: flex; 
  justify-content: space-between; 
  position: absolute; 
  right:45%;
}

#mobile_carousel {
   display: none;
}

/*.serve_class {
   position:relative; 
   top: 40px; 
   left: 330px;
}*/

/*.purpose_class {
   position:relative; 
   right: 300px; 
   top: 150px;
}*/

.wrapperone {
  background-image: linear-gradient(rgba(16, 17, 153, 0.7),rgba(237, 42, 84, 0.7)),url(&quot;images/website_background.jpg&quot;);
  background-repeat: no-repeat;
  background-size: cover;
  data-stellar-background-ratio=0.5;
  display: grid;
  grid-template-rows: 30% 70%; 
  height: auto;
  width: 100vw;
}

.second_cards {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.firstone {
  display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 80%; 
    margin: 0 auto;
    padding-top: 25px;
}

.secondone {
  display: grid; 
  grid-template-columns: 33% 33% 33%;
}

.secondone_card {
  display: grid; 
  grid-template-columns: 40% 60%; 
  padding: 3em;
  text-align: left;
}

.newfooter {
    display: flex;
    justify-content: flex-start;
}

.partner_img {
    box-shadow: 0 0 0 8px #ddd;
    transition: box-shadow 0.3s;
}

.partner_img:hover{
    box-shadow: 0 0 0 15px #ee2654;
}

.rights_span {
    color: black;
    font-size: 13px;
}

.privacy_header {
  padding-top: 5%;
}

/*.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item, .slide-text{
  -ms-touch-action: auto;
      touch-action: auto;
}
.carousel-inner .item, .slide_style_center, .item p.animated {
  -webkit-touch-action: auto;
  -ms-touch-action: auto;
      touch-action: auto;

      -ms-touch-action: none;
  touch-action: none;
}*/

 .mobile-slider {
   display: none;
 }

 .display-none {
  display: none;
}

.slider-wrapper {
  position: relative;
}

.jq-slider-data {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(16, 17, 153, 0.7),rgba(237, 42, 84, 0.7));
  color: #fff;
  padding-left: 40px;
  padding-right: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jq-inner-wrapper {
  margin-top: 15%;
  text-align: center;
}

#btnPrint {
    background-color: #2f3790;
    color: #fff;
    padding: 7px 20px;
    border-radius: 100px;
    border: none;
    font-size: 16px;
    position: relative;
    top: 5px;
}

.small-width-content {
  display: block;
  width: 80%;
  margin: auto;
}

.reverse-image {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-bottom-50 {
      padding-bottom: 50px;
}

.padding-top-70 {
      padding-top: 70px !important;
}

.display-blck {
  display: block !important
}

.margin-left-min-10 {
      margin-left: -10px;
}

.blog-sub-head {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600 !important;
}

.blog-wrapper {
  margin-bottom: 10px;
  display: block;
}

.blog-list-head {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 15px;
}

.blog-wrapper span {
  display: inline-block;
  margin-right: 10px;
}

.blog-wrapper h2 {
    font-size: 15px;
    margin-bottom: 10px;
    display: inline-block;
    font-style: italic;
}

.blog-wrapper h2 a, .blog-wrapper h2 a:visited {
  color: #0000ee;
}

.blog-wrapper p {
   font-size: 14px;
   font-weight: normal !important;
   text-align: left;
   color: #333;
}

.blog-wrapper > span {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
}

.back-list {
  background-color: #181099;
  color: #fff;
  padding: 1px 8px;
  float: right;
  font-size: 15px;
}

.text-capitalize {
   text-transform: capitalize !important;
}

.contact-pop-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
}

.contact-pop-main {
  background-color: #fff;
  position: absolute;
  top: 70px;
  right: 0;
  height: calc(100vh - 70px);
  width: 25%;
  padding: 35px 30px 10px 30px;
}

.contact-pop-main h3 {
  margin-bottom: 2em;
}

.contact-pop-main h3 img {
  width: 20px;
  cursor: pointer;
}

.reg-input-wrapper {
    border: 2px solid #e1ddec;
    position: relative;
    border-radius: 6px;
    width: 95%;
}

.reg-input-wrapper img {
    position: absolute;
    top: 14px;
    left: 8px;
    width: 16px;
}

.reg-input-wrapper input {
    width: 100%;
    border: none;
    padding-left: 32px;
    font-size: 14px !important;
}

.reg-input-wrapper span {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 12px;
    cursor: pointer;
}

.reg-btn {
    background-color: #2132af;
    color: #fff;
    border: none;
    width: 150px;
    padding: 8px 2px;
    border-radius: 100px;
    margin-top: 15px;
}

.reg-btn:focus {
  outline: none;
}

.contact-pop-main p {
    color: #979597;
    text-align: left;
}

.contact-pop-main p a {
    color: #c83a68;
}

.verify-btn {
    background-color: #66c194;
    color: #fff;
    width: 95%;
    margin-top: 1.5em;
    border: none;
    padding: 15px 5px;
    border-radius: 6px;
}

.contact-active:after {
    content: '';
    position: absolute;
    height: 3px !important;
    width: 100% !important;
    background-color: #ed2b54;
    bottom: 4px;
    left: 0;
    opacity: 1 !important;
}


  @media only screen and (max-width: 1600px) {

    /*.second-overlay {
      width: 91% !important;
    }*/

  }

  @media only screen and (max-width: 1280px) and (min-width: 800px) {

   /* .second-overlay {
      width: 90% !important;
    }
*/
    .homecareshow {
      padding-left: 0px;
      padding-right: 0px;
    }

  }

  @media only screen and (max-width: 1280px) {
    .shrunk-container {
      padding-right: 0px;
    }
  }

@media only screen and (min-width: 700px) {

  .offer_p {
    text-align: left;
  }

.slide-text > p {
  text-align: left;
  font-size: 18px!important;
}

.slide-text > h1 {
  font-size: 30px!important;
}

.slide-text > div > p {
  text-align: left;
  font-size: 18px!important;
}

.slide-text > div > h1 {
  font-size: 30px!important;
}


  .modal-open .modal {
    overflow-y: hidden!important;
  }

  .footerul {
     padding-bottom: 96px;
  }

  .privacy_backtotop {
    left: 83%;
  }

  .tos_backtotop {
    left: 95%;
  }

  .rights_span {
    width: 300px;
    text-align: left;
  }

  .carousel_slide3 {
    top: 45vh;
  }

  #newlogo {
    margin-top: 10px;
  }

  .copyright_class {
  }

  .footer_class {
    height: 80px;
  }

  #partners {
    padding-bottom: 3.5em;
  }
  #menu_first_link {
    margin-left: 10px;
  }

  #home {
    padding-left: 30px;
    padding-right: 20px;
  }

  .version_number {
    float: right;
  }

  #partners_focus {
    width: 80%;
    margin:0 auto;
    text-align: center;
  }

  #whoweare p {
    width: 68%; 
    margin: 0 auto; 
    text-align: left;
  }

  #termsdiv {
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
  }


  #whatwedo_pricingdiv.fh5co-pricing-style-2 {
    padding: none;
  }

/*  .version_number {
    position: relative;
    right: 13.125em;
  }
*/
    .terms {
      margin-left: -4.155em;
    }

    #know_more {
      margin-bottom: -50px;
      position: relative;
      top: 65px;
    }

   .item {
      background-image: linear-gradient(rgba(16, 17, 153, 0.7),rgba(237, 42, 84, 0.7)),url('images/banner_carousel.jpg');
   }
/*   .social_icons {
      position: relative;
      right: 600px;
   }*/

   #slide2_div {
      margin-top: -100px;
   }

   .purpose_class {
      position: relative;
      right: 280px;
      top: 255px;
      transition: 0.8s;
   }

   .purpose_class p {
      font-size: 22px;
   }

   .serve_class {
      position: relative;
      left: 320px;
      top: 100px;
      transition: 0.8s;
   }

   .serve_class p {
      font-size: 22px;
   }

   .partner_class p {
      font-size: 22px;
   }
}



@media only screen and (max-width: 500px) {

/*  #haveQuery {
    padding-top: 5em;
  }
*/
.med-page-banner {
  margin-top: 64px;
}
.closecorner {
  width: 30px;
  height: 30px;
  font-size: 15px;
  padding: 1px 5px 1px 6px;
}

.whatwedo_p {
  padding-bottom: 2em;
}

.slide-text > p {
  text-align: left;
}

.slide-text > div > p {
  text-align: left;
}

  .modal-open::-webkit-scrollbar {
    width: 5px;
  }

  .modal-open::-webkit-scrollbar-track {
  }
 
  .modal-open::-webkit-scrollbar-thumb {
    background-color: red;
    outline: 1px solid blue;
  }


#referpatients_span_hospital {
  bottom: 20px;
}

.referpatients_span {
  position: absolute; 
  bottom: 30px; 
  left: 0; 
  right: 0;
}

#patients {
  background-image: linear-gradient(rgba(16, 17, 153, 0.7),rgba(237, 42, 84, 0.7)),url("images/bg-3.png");
}

.copyright_p {
  width: 90%;
  margin: 0 auto;
}

.backtotop_btn {
  position: absolute; 
  right: 30px; 
  bottom: 20px;
}

  .referpatients_p {
    font-size: 13px; 
    line-height: 20px; 
    text-align: left; 
    width: 80%; 
    margin: 0 auto;
  }

  .privacy_header {
    padding-top: 25%;
  }

  .privacy_backtotop {
    left: 85%;
  }

  .tos_backtotop {
    left: 85%;
  }


.social_icons {
  padding-bottom: 3em;
}

.footer_class {
  display: flex; 
  align-items: center; 
  flex-direction: column;
  justify-content: space-between;
}

  .navbar-collapse {
    box-shadow: 0px 5px 5px -5px grey;
  }

/*  h2.haveQueryDiv::before { 
  display: block; 
  content: " "; 
  margin-top: 50px; 
  height: 25px; 
  visibility: hidden; 
  pointer-events: none;
}
*/

  .carousel_p {
    width: 280px;
    text-align: center;
    margin: 0 auto;
    font-size: 14px!important;
  }

  .carousel_slide3 {
    top: 40vh;
  }

  .footer_class {
    height: 200px;
  }

  .copyright_class {
  }

  .menu_links {
    color: #777;
  }

  .privacy_footer {
    background-color: #f0f0f8;
  }

  #termsdiv {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  .new-logo {
    display: block!important;
  }

  #partners {
   padding-top: 40px;
 }

  .hospitalspan {
   height: 475px;
  }

     .purpose_class {
        margin-top: -50px;
   }

    #whatwedo {
    padding-top: 50px;
  }

    #referapatients {
    padding-top: 85px;
  }

  .hospital_img {
    margin: 10px auto 10px 115px;
  }

  .whatweoffer_card {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }

  .whatweoffer_card .second_cards p {
      width: 170%!important;
      text-align: left!important;
      margin-left: 15%;
  }

  .partnerwithus_card {
    padding-bottom: 50px;
  }

  #partners_p {
    width: 80%;
    margin: 0 auto;
    text-align: left!important;
  }

  #partners_focus.black-color-font {
    width: 80%;
    margin: 0 auto;
    text-align: left!important;
  }

  .firstone p {
    width: 80%;
    margin: 0 auto;
    text-align: left!important;
    padding-bottom: 40px;
    word-spacing: 1px;
  }

/*  .referapatientscards {
    margin-bottom: 50px;
  }*/

  .whatwedo_p {
    width: 80%!important;
    margin: 0 auto;
    text-align: left!important;
  }

  #whoweare p {
    width: 73%!important;
    text-align: left!important;
    margin: 0 auto;
  }

  #homepage .new-logo {
    display: none;
  }

  .navbar-brand > img#newlogo {
    position: relative;
    top: 1em;
    background-color: white;
    left: -0.5em;s
  }

  #homepage.site-logo.new-logo {
    display: block!important;
  }

  .oldlogo {
    display: none!important;
  }

  .footer_p {
    position: relative;
    left: 0px;
   }

   .navbar-default .navbar-nav > li > a {
    padding-top: 20px;
   }

   .our_purpose p {
    line-height: 1.5em;
   }

   .impact_class p {
      font-size: 14px;
      line-height: 1.5em;
   }

   .impact_class h1 {
    font-size: 22px;
   }

   .partner_class {
      position: relative;
      top: 130px;
      padding-top: 50px;
   }

   .item {
      width: 350px;
      background-image: linear-gradient(rgba(16, 17, 153, 0.7),rgba(237, 42, 84, 0.7)),url('images/background_small.png');
      background-size: cover;
      background-repeat: no-repeat;
   }

   .partner_class p {
      line-height: 1.5em;
   }

   .what_we_offer_head {
      color: white;
      font-size: 20px;
      padding-bottom: 10px;
      width: 200px;
   }
   .footer-bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
   #slide2_div {
      margin-bottom: -100px;
   }

   .slide-text > div > h1 {
      font-size: 22px;
      margin-bottom: 5px;
   }

   .slide-text > div > know_more {
      padding-top: 10px;
   }
   .slide-text > div > p {
      font-size: 14px;
      margin-bottom: 5px;
      margin-left: 8%;
   }

   #meds_equip {
      text-align: center;
   }
   #slide2_div {
      justify-content: flex-end;
   }
  .pricing-price {
   margin-top: 20px;
  }
  .hospital_pricing {
   margin-left: -10px;
  }
  .hospital_pricing_one {
   position: relative;
   right: 17px;
  }
  .wrapperone {
    width: auto;
  }
  .secondone {
    display: grid;
    grid-template-columns: 100%;
  }
  .secondone_card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -60px;
  }
  .secondone_card p {
    text-align: left;
  }

  .newfooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  .media_icons {
    padding-left: 30px;
    margin-right: -70px;
  }

  .second_cards {
   display: flex;
   flex-direction: column;
   align-items: center;
   }
/*   .footerul {
   padding-bottom: 200px;
   }*/
   .footer-bottom p {
      margin-bottom: 10px;
   }
   #slide2_div.purpose_class h1 {
      font-size: 18px;
   }
   #slide2_div.serve_class h1 {
      font-size: 18px;
   }
   .partner_class p {
      font-size: 14px;
   }
   .impact_class.slide_text.slide_style_center {
      position: relative!important;
      bottom: 50px!important;
   }

   .social_icons {
    display: flex;
    justify-content: center;
   }
};

@media only screen and (max-width: 800px) {
  .wrapperone {
    width: auto;
  }
  .secondone {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .secondone_card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
  }
  .secondone_card p {
    text-align: left;
  }
  .newfooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  

};

@media only screen and (max-width: 320px) {
  .wrapperone {
    width: auto;
  }
  .secondone {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .secondone_card {
    display: grid;
    grid-template-rows: 40% 60%;
    text-align: left;
  }

  .fh5co-cover.fh5co-cover-style-2.js-full-height {
    width: 100vw;
    height: auto;
  }
  .newfooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  .media_icons {
    padding-left: 30px;
    margin-right: -70px;
  }
   .second_cards {
   display: flex;
   flex-direction: column;
   align-items: center;
   }
}

@media only screen and (min-width: 1000px) {
  .what_we_offer_head {
    /*text-align: left!important;*/
  }
}

  #horizontal_form input:-webkit-autofill {
    background-color: white!important;
  }

/* records.php styles */

.table_records th {
	text-align: center;
	background-color: #333;
	color: white;
}

.table_records td {
	text-align: left;
  max-width: 100px;
  overflow-wrap: break-word;
}

.table_records td:first-child {
	text-align: center;
}

.alert {
    position: fixed;
    top: 90px;
    min-width: 400px;
    margin: 0 auto;
    right: 10px;
    z-index: 99999;
}

.table_head {
	clear: both;
}



/* Table switch on tab click styles */



.tablenew {
  display: block;
}


/*new css*/
.no-bottom-gap {
  margin-bottom: 0px !important;
  color: #333;
}

.no-padding-left {
  padding-left: 0px;
}

.no-padding-right {
  padding-right: 0px;
}

.text-bold {
  font-weight: bold !important;
}

.text-normal {
  font-weight: normal !important;
}

.bottom-gap {
  margin-bottom: 1em;
}

.display-inline-block {
  display: inline-block;
}

.position-relative {
  position: relative;
}

.modal {
  z-index: 999999;
}

.med-page-banner {
  /*background-image: url(img/med-equip-banner.jpg);*/
  background-image: linear-gradient(rgba(16, 17, 153, 0.7),rgba(237, 42, 84, 0.7)),url(../images/med-equip-banner.jpg);
  background-size: cover;
  height: 330px;
  width: 100%;
  position: relative;

  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.med-banner-icon {
    background-color: #fff;
    box-sizing: content-box;
    padding: 24px;
    border-radius: 50%;
    top: 45%;
    left: 45%;
}

.med-banner-icon img {
  width: 45px;
  height: 45px;
}

.med-page-banner h2 {
  color: #fff;
    font-size: 28px;
    left: 35%;
    bottom: 6%;
}

.med-banner-icon.nurse h2 {
      left: 45%;
}

.med-page-head {
  /*margin-top: 60px;*/
    font-size: 34px;
    margin-bottom: 25px;
}

.font-size-24 {
  font-size: 24px;
}

.med-sub-title {
  font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.font-size-17 {
  font-size: 17px;
}

.medical-equip-table table {
  width: 90%;
  border-collapse: collapse;
}

.medical-equip-table table tr th,
.medical-equip-table table tr td {
  border: 1px solid #ccc;
  width: 50%;
  vertical-align: top;
}

.medical-equip-table table tr th {
  padding: 10px;
  background-color: #ed2b54;
  color: #fff;
}

.medical-equip-table table tr td ul li {
  margin-bottom: 20px;
  position: relative;
  list-style: none;
  color: #333;
  font-size: 14px;
}

.medical-equip-table table tr td ul li:before {
    content: '';
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: #333;
    left: -15px;
    top: 10px;
    border-radius: 50%;
}

/*.medical-equip-table table tr td:first-child ul li:first-child {
  margin-top: 30px;
}*/

.medical-equip-table table tr td ul li:first-child {
    margin-top: 15px;
}

.para-content {
  margin-bottom: 20px;
    width: 100%;
    text-align: justify;
}

.para-content p {
  /*display: inline;*/
  margin-bottom: 20px;
  text-align: justify;
  color: #333;
}

.final-med-cont {
  text-align: left;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 17px;
}

.final-med-cont a {
  color: #e33671;
}

.final-med-cont a:hover {
  text-decoration: none;
}

.final-med-cont .sub {
  font-weight: bold;
  color: #333
}

.med-article-title {
  position: relative;
  clear: both;
  color: #333;
  text-align: left;
  margin-bottom: 20px;
}

.med-article-title span {
  background-color: #fff;
  display: inline-block;
  padding-right: 15px;
  position: relative;
  background-color: #fff;
  z-index: 1;
  font-weight: bold;
}

.med-article-title:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #ccc;
  top: 10px;
  left: 0;
  z-index: 0;
}

.second-list {
  margin-bottom: 20px;
}

.second-list li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}

.desk-top-para {
  display: block;
}

.mob-para {
    display: none;
}

.each-article-thumb {
  position: relative;
  width: 100%;
  height: 180px;
  margin-bottom: 10px;
}

.top-title {
  position: absolute;
  top: 2px;
  background-color: transparent;
  left: 34%;
  color: #fff;
  font-size: 14px;
}

.nurse-read-more .top-title {
  left: 42%;
}

.each-article-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.second-overlay {
    position: absolute;
    height: 88%;
    width: calc(100% - 27px);
    left: 14px;
    top: 12px;
    background-color: transparent;
    border: 1px solid #fff;
    border-top: none;
    z-index: 1;
}

.each-article-thumb:before {
    content: '';
    height: 1px;
    width: 22%;
    background-color: #fff;
    position: absolute;
    top: 12px;
    left: 14px;
    z-index: 1;
}

.each-article-thumb:after {
    content: '';
    height: 1px;
    width: 22%;
    background-color: #fff;
    position: absolute;
    top: 12px;
    right: 14px;
}

.each-article-thumb.read-also:before {
      width: 32%;
}

.each-article-thumb.read-also:after {
      width: 25%;
}

.each-article-thumb .art-thumb-overlay {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);

    display: flex;
    /*align-items: center;*/
    flex-direction: column;
    justify-content: flex-end;
}

.art-thumb-overlay .title {
  background-color: #fff;
    color: #333;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 4px;
}

.art-thumb-overlay p {
    color: #fff;
    font-size: 14px;
    padding-left: 28px;
    padding-bottom: 10px;
    padding-right: 36px;
    text-align: left;
}

.art-thumb-overlay .bottom-detail {
  color: #fff;
}

.bottom-detail {
  position: relative;
}

.bottom-detail span:first-child {
  padding-right: 10px;
  border-right: 2px solid #fff;
}

.bottom-detail span:last-child {
  padding-left: 10px;
}

.bottom-detail span:first-child:after {
  
}

.med-sub-sub-title {
  font-size: 16px;
}

.thum-btn {
  background-color: #5154dc;
  border: none;
  color: #fff;
  width: 100%;
  padding: 10px 10px;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 20px;
  display: flex; 
  justify-content: space-around; 
  align-items: center;
}

.bottom-icon-wrapper {
/*  display: flex;
    flex-direction: row;
    justify-content: space-between;*/
    margin-bottom: 20px;
}

.each-buttom-icon {
  display: inline-block;
  text-align: center;
  margin-right: 40px;
  width: 150px;
  vertical-align: top;
}

.each-buttom-icon p{
  color: #333;

}

.each-buttom-icon img {
  width: 60px;
  margin-bottom: 10px;
}

.shrunk-container {
  padding-left: 70px;
  padding-right: 40px;
}

.for-desk-top {
  display: inline-block;
}

.for-mobile {
  display: none;
}

.pointingFingerClass {
  width: 18px;
  /*margin-right: auto;
  margin-top: 1px;*/
}

/*.pointingFingerSpanClass {
  margin-right: auto; 
  margin-left: -30px;
}*/

.slogan-style {
  font-weight: bold;
  font-style: italic;
}

.modal-open .modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    overflow: hidden;
    overflow-y: hidden;
  }

  .navbar-me ul li a {
    font-size: 16px;
  }

  .popup-check-container {
    float: left;
  }

  .pop-check-label {
    float: left;
    width: 83%;
    margin-left: 10px;
  }

  .mobile-slider p {
    text-align: left;
  }

  .closecorner {
    position: static;
  }

  .font-style-normal {
    font-style: normal;
  }

  .dark-grey-text {
    color: #333;
  }

@media (max-width: 1440px) {

}

@media (max-width: 1366px) {

  .rights_span {
      text-align: center !important;
      display: block;
  }

}

@media (max-width: 800px) {

  .med-page-banner h2 {
        left: 28%;
  }

  .med-page-banner.nurse h2 {
      left: 42%;
  }

  .each-buttom-icon {
    width: 49%;
    margin-right: 0;
  }

  .para-content {
    width: 100%;
  }

  /*.second-overlay {
    width: calc(92% - 2px);
  }*/

  .each-article-thumb {
    width: 49%;
    display: inline-block;
  }

  .each-article-thumb.read-also:after {
      width: 30;
  }

  .nav > li > a {
        padding: 10px 5px;
  }

  .site-logo {
       padding: 0 0px !important;
  }

  .navbar-me ul li a {
      font-size: 12px;
  }

  #home {
    margin-left: 0px !important;
  }

  #newlogo {
    width: 100px;
    height: 35px;
  }

  .navbar-right li a {
    padding: 9px 5px !important;
  }

  .navbar-nav li.margin-Top10 {
    display: none;
  }

  .modal-dialog {
        margin-top: 40% !important;
  }

  .thum-btn {
        width: 48%;
  }

  .contact-pop-main {
    width: 50%;
  }


}

@media (max-width: 600px) {

  .fh5co-heading {
    padding-top: 5px !important;
  }

  .pointingFingerSpanClass {
    margin-right: auto;
    margin-left: -12px;
  }

  .pointingFingerClass {
    width: 15px;
    margin-right: auto;
    margin-left: 5px;
    margin-top: 1px;
  }

  #fh5co-page {
        overflow-y: hidden;
  }

  nav.navbar.navbar-default.navbar-me {
      height: initial;
      margin-bottom: 0;
      min-height: initial;
  }

  .fh5co-cover.fh5co-cover-style-2.js-full-height {
      margin-top: 64px;
  }

  #bootstrap-touch-slider {
    display: none;
  }

  .mobile-slider {
    display: block;
    height: calc(100vh - 64px);
    /*padding-bottom: 19px;*/
    top: 0px;
  }

  .mobile-slider img {
    width: 100%;
    height: 100%;
  }

  .jq-slider-data h2 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
    /*font-weight: bold !important;*/
  }

  .carousel-inner {
    display: none;
  }

  .modal-body {
    padding-left: 0px;
    padding-right: 0px;
  }

  .popup-check-container {
    float: left;
  }

  .pop-check-label {
    float: left;
    width: 80%;
    margin-left: 10px;
  }

  .modal-dialog {
    width: 92%;
  }

  .copyright_p {
        width: 95%;
  }

  .no-xs-padding-r {
      padding-right: 0px !important;
  }

  .thum-btn {
    margin-bottom: 20px;
  }

  .mob-container {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 20px !important;
  }

  .each-buttom-icon {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .medical-equip-table table tr th {
    padding: 10px;
    font-size: 17px;
  }

  .med-page-banner {
      height: 170px;
  }

  .med-page-head {
      /*margin-top: 30px;*/
      font-size: 18px !important;
      margin-bottom: 12px;
      text-align: center;
  }

  .med-banner-icon {
    padding: 18px;
    top: 23%;
      left: 41%;
  }

  .med-banner-icon img {
    width: 35px;
    height: 35px;
  }

  .med-page-banner h2 {
    font-size: 18px;
      left: 10%;
      font-weight: bold;
  }

  .medical-equip-table ul {
    padding-left: 25px;
  }

  .desk-top-para {
    display: none;
  }

  .mob-para {
    vertical-align: top;
      font-size: 13px;
      padding-top: 15px;
      display: block;
  }

  .medical-equip-table table tr td {
    vertical-align: top;
  }

  /*.medical-equip-table table tr td:first-child ul li:first-child {
      margin-top: 0px;
  }*/

  .medical-equip-table table tr td ul li {
    font-size: 14px;
  }

  .medical-equip-table table tr td ul li:first-child {
    margin-top: 15px;
  }

  .each-article-thumb {
    height: 150px;
  }

  .each-article-thumb .art-thumb-overlay {
    padding-left: 5px;
    bottom: 0px;
  }

  .art-thumb-overlay .title {
    font-size: 11px;
      padding: 3px 5px;
  }

  .art-thumb-overlay p {
    font-size: 10px;
  }

  .art-thumb-overlay .bottom-detail {
    display: none;
  }

  .med-page-banner.nurse h2 {
        left: 37%;
  }

  .second-list p {
    text-align: justify;
  }

  .second-list.nurse ul {
        padding-left: 10px;
  }

  .bottom-icon-wrapper {
        flex-direction: column;
  }

  .second-car-design-fix {
    width: 100% !important;
  }

  .anchor-design-fix {
    display: flex;
    width: 100%;
  }

  .para-content {
    width: 100%;
  }

  .medical-equip-table table {
    width: 100%;
  }

  .each-article-thumb {
    width: 100%;
    display: block;
  }

  #home {
    margin-left: 20px !important;
  }

  .navbar-right li a {
    padding: 20px 5px !important;
  }

  .for-desk-top {
    display: none;
  }

  .for-mobile {
    display: block;
  }

  .for-mobile .rights_span {
    display: block;
  }

  .modal-dialog {
      margin-top: 45% !important;
      height: 80%;
      overflow-y: auto;
      border-radius: 10px;
  }

  .popup-check-container {
    padding-left: initial !important;
    margin-bottom: initial !important;
    height: 20px;
    width: 20px;
  }

  .top-title {
        left: 31%;
  }

  .nurse-read-more .top-title {
    left: 41%;
  }

  /*.second-overlay {
      width: 90% !important;
      height: 85%;
  }*/

  .navbar-brand > img#newlogo {
      left: 0.5em;
  }

  .final-med-cont {
      margin-bottom: 20px;
  }

  .footer ul {
        margin-top: 0px;
  }

  .footer h3 {
        margin-bottom: 15px;
  }

  .blog-wrapper > span {
    margin-right: 0;
  }

  .blog-wrapper > span:nth-child(1) {
    width: 7%;
  }

  .blog-wrapper > span:nth-child(2) {
    width: 90%;
  }

  .text-xs-center {
    text-align: center !important;
  }

  .back-list {
    float: none;
    display: inline-block;
    margin-top: 10px;
  }

  .thum-btn {
        width: 100%;
  }

  .contact-pop-main {
    width: 90%;
    height: 85vh;
    padding: 20px 30px 10px 30px;
    right: 5%;
    border-radius: 10px;
    transition: all 0.5s ease;
  }

  .contact-pop-main:nth-child(1) {
     height: 73vh;
  }

  .contact-pop-main:nth-child(2) {
     height: 48vh;
  }

  .contact-pop-main:nth-child(3) {
      height: 48vh;
  }

  .contact-pop-main h3 {
    margin-bottom: 1em;
  }

}


@media (max-width: 320px)  {

  .med-page-banner h2 {
    left: 4%;
  }

  .med-banner-icon {
    top: 29%;
    left: 38%;
  }

  /*.second-overlay {
    width: 89% !important;
  }*/

  .contact-pop-main {
    top: 8%;
    overflow-y: auto;
  }


}












