.font-size-12 {
    font-size: 12px !important;
}

.modal-submit-btn {
  /*cursor: initial !important;*/
}

#ambulance_name-error, #ambulance_contact-error, #ambulance_email-error, #homecare_name-error, #homecare_contact-error, #homecare_email-error, #medicines_name-error, #medical_contact-error, #medical_email-error, #ref_name-error, #referrer_number-error, #ref_pat_name-error, #patient_number-error, #reg_hospital-error, #primary_cont_name-error, #reg_contact-error, #queryemail-error, #querymessage-error {
  font-size: 12px;
}

.no-padding-l {
  padding-left: 0px !important;
}

.neg-margin-top {
  margin-top: -6px;
}

/* check box style */

/* The container */
.popup-check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.popup-check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.popup-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #808080;
}

/* On mouse-over, add a grey background color 
.popup-check-container:hover input ~ .popup-checkmark {
    background-color: #ccc;
} */

/* When the checkbox is checked, add a blue background */
.popup-check-container input:checked ~ .popup-checkmark {
    background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.popup-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.popup-check-container input:checked ~ .popup-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.popup-check-container .popup-checkmark:after {
    left: 6px;
    top: 1px;
    width: 7px;
    height: 13px;
    border: solid #2196F3;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* End of check box style */

.what_we_offer_head {
      color: white;
      width: 200px;
      text-align: left;
   }

.form-control {
  font-size: 16px!important;
}

.modalclosebtn {
  background-color: white; 
  border: 2px solid #fb4f59;
}

.modalclosebtn:hover {
  color: white;
  background-color: #fb4f59;
}

.referpatients_span {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0;
}

#patients {
  background-image: linear-gradient(rgba(16, 17, 153, 0.7),rgba(237, 42, 84, 0.7)),url("images/website_background.jpg");
}

.copyright_p {
  color: black; 
  text-align: justify; 
  letter-spacing: 0.5px; 
  font-size: 13px;
}

.backtotop_btn {
  position: absolute; 
  right: 50px; 
  bottom: 20px;
}

.referpatients_p {
  font-size: 13px; 
  line-height: 20px; 
  text-align: justify; 
  width: 80%; 
  margin: 0 auto;
}

.privacy_backtotop {
  position: relative;
  left: 95%;
  bottom: 20px;
}

.tos_backtotop {
  position: relative;
  left: 95%;
  bottom: 20px;
}


#know_more_2nd {
  margin-bottom: 50px!important;
}

#partners_p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.partner_login_row .partner_top {
  height: 20%; 
  display: flex; 
  align-items: center; 
  justify-content: flex-start; 
  flex-direction: column;
}

.partner_close {
  align-self: flex-end; 
  padding-right: 15px; 
  font-size: 30px; 
  color: #aaa;
}

.partner_login_row .partner_h4 {
  align-self: center; 
  margin-top: 30px; 
  font-size: 22px;
}

.partner_login_form img {
  margin-top: 0px;
  height: 30px; 
  width: 30px;
}

.partner_login_form .form-check {
  align-self: flex-end; 
  padding-right: 15px;
}

.partner_login_form .form-check a {
  text-decoration: none; 
  font-size: 14px; 
  color: #2f3790;
}

.partner_login_cont .partner_bottom_row {
  height: 20%; 
  width: 100%; 
  margin-left:0; 
  background-color: #2f3790; 
  color: white;
}

.partner_bottom_row p {
  font-size: 12px; 
  width: 75%; 
  margin: 0 auto;
}


h3.haveQueryDiv span { 
  margin-top: -4em;   
  padding-bottom: 4em; 
  display: block; 
}

.partner_login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  justify-content: space-around;
}

.partner_login_form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: blue;
    
}

.partner_login_form input {
  width: 80%;
  margin: 0 auto;
  border: none!important;
  background-color: transparent;
  border-top: none!important;
  border-radius: 0;
  display: inline;
  font-size: 13px;
  font-weight: 500;
  padding: 0;
  padding-left: 10px;
  -webkit-appearance : none;
}

.partner_login_cont {
  width: 25%; 
  margin: 5% auto 10% auto; 
  height: 70vh; 
  padding: 0; 
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 5px 0 5px -4px rgba(31, 73, 125, 0.8), -5px 0 5px -4px rgba(31, 73, 125, 0.8);
}

.partner_login_row {
  height: 80%; 
  width: 100%; 
  background-color: white; 
  margin-left: 0; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-around;
}


.newform:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}

#input_id {
  outline: none!important;
}

.partner_login_form .form-group {
  width: 80%;
}

.partner_login_form .form-group-email {
  border-bottom: 1px solid #ccc;
}

.partner_login_form .submit_btn {
  height: 2.5rem;
  width: 7.5rem;
  background-color: #2f3790;
  color: white;
}

#new_anchor:after {
  background: #333;
    width: 0px;
    height: 1px;
    position: absolute;
    bottom: 0px;
    content: '';
    left: 15px;
    opacity: 0;
}

#new_anchor:hover:after {
  transition: all ease .3s;
}

.icon_class {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: lightgrey;
  text-align: center;
  color: #7d7d7d;
  border-radius: 50%;
  display: inline-block;
  font-size: 18px;
}


.icon_class:hover .fa-facebook {
  transition: 0.5s;
  color: white;
}

.icon_class:hover .fa-twitter {
  transition: 0.5s;
  color: white; 
}

.icon_class:hover .fa-linkedin {
  transition: 0.5s;
  color: white; 
}

.icon_class:hover {
  transition: 0.5s ease;
  background-color: #2f3790;
}

.carousel_slide3 {
  display: flex; 
  justify-content: flex-end; 
  align-items: center; 
  position: relative; 
}

/*  #termsdiv > .terms {
    order: 3;
  }.backtotop_btn {
  position: absolute; 
  right: 50px; 
  bottom: 100px;
}

  #termsdiv > .version_number {
    order: 1;
  }*/

.whatwedo_p {
  visibility: visible;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-name: fadeInUp; 
  width: 70%; 
  text-align: left; 
  font-size: 13px;
}

.copyright_class {
  display: flex; 
  flex-direction: column; 
  justify-content: space-around; 
  align-items: center; 
  order: 3;
}

.footer_class {
  display: flex; 
  align-items: center; 
  flex-direction: row-reverse;
  justify-content: space-between;
}

.menu_links.menu_links {
  color: #333!important;
}

.privacy_footer {
  background-color: white; 
  border-top: 0.5px solid lightgrey;
}

.social_icons img:hover {
  cursor: pointer;
}

  .version_number:hover {
    color: #2f3790!important;
  }

#last_submit:hover {
  background-color: grey!important;
  color: #2f3790!important;
}


input[type='number'] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

  #partners_focus {
    width: 80%;
    margin:0 auto;
    text-align: justify;
  }

  .footer_p {
      float: left;
   }

  #partners {
   padding-top: 2.5em;
 }

    .hospitalspan {
   height: 425px;
  }


  #whatwedo {
    padding-top: 40px;
  }

  #referapatients {
    padding-top: 80px;
  }

  #whoweare:focus, #whatwedo:focus, #patients:focus, #referapatients:focus, #partners:focus, #haveQuery:focus {
    outline: none;
  }

  html, body {
    width: 100vw!important;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .hospital_img {
    margin: 0 auto;
  }

   #meds_equip {
      text-align: left;
   }

.whatweoffer_card {
  display: flex; 
  justify-content: space-around;
  padding: 20px;
}

.what_we_offer_head {
   color: white;
   font-size: 22px;
}

.item {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-bottom {
   display: flex; 
   justify-content: space-between;
   height: 70px;
   align-items: center;
}

.social_icons {
   width: 100%; 
   margin: 0 auto; 
   display: flex;
   justify-content: center;
}


#slide2_div {
   width: 80%; 
   height: 100vh; 
   margin: 0 auto; 
   display: flex; 
   flex-direction: column;
   justify-content: center!important; 
   align-items: center;
   padding-bottom: 25px;
}

#slide2_div.purpose_class {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
}

#slide2_div.purpose_class p {
   color: white; 
   margin:0 auto;
   font-size: 14px!important; 
   font-weight: 300;
   margin-top: -10px;
}

#slide2_div.partner_class p {
   color: white; 
   margin:0 auto;
   font-size: 14px!important; 
   font-weight: 300;
}


#slide2_div.serve_class p {
   color: white; 
   margin:0 auto;
   font-size: 14px!important; 
   font-weight: 300;
   margin-top: -10px;
}

#slide2_div.serve_class {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
/*
.footer_p {
  position: relative;
  left: 20px;
}*/


.media_icons {
  width: 13em; 
  margin-top: 5px; 
  margin-left: 10px; 
  display: flex; 
  justify-content: space-between; 
  position: absolute; 
  right:45%;
}

#mobile_carousel {
   display: none;
}

/*.serve_class {
   position:relative; 
   top: 40px; 
   left: 330px;
}*/

/*.purpose_class {
   position:relative; 
   right: 300px; 
   top: 150px;
}*/

.wrapperone {
  background-image: linear-gradient(rgba(16, 17, 153, 0.7),rgba(237, 42, 84, 0.7)),url(&quot;images/website_background.jpg&quot;);
  background-repeat: no-repeat;
  background-size: cover;
  data-stellar-background-ratio=0.5;
  display: grid;
  grid-template-rows: 30% 70%; 
  height: auto;
  width: 100vw;
}

.second_cards {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.firstone {
  display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 80%; 
    margin: 0 auto;
    padding-top: 25px;
}

.secondone {
  display: grid; 
  grid-template-columns: 33% 33% 33%;
}

.secondone_card {
  display: grid; 
  grid-template-columns: 40% 60%; 
  padding: 3em;
  text-align: left;
}

.newfooter {
    display: flex;
    justify-content: flex-start;
}

.partner_img {
    box-shadow: 0 0 0 8px #ddd;
    transition: box-shadow 0.3s;
}

.partner_img:hover{
    box-shadow: 0 0 0 15px #ee2654;
}

.rights_span {
    color: black;
    font-size: 13px;
}

  .privacy_header {
    padding-top: 5%;
  }

@media only screen and (min-width: 700px) {

  .offer_p {
    text-align: left;
  }

.slide-text > p {
  text-align: left;
  font-size: 18px!important;
}

.slide-text > h1 {
  font-size: 30px!important;
}

.slide-text > div > p {
  text-align: left;
  font-size: 18px!important;
}

.slide-text > div > h1 {
  font-size: 30px!important;
}


  .modal-open .modal {
    overflow-y: hidden!important;
  }

  .footerul {
     padding-bottom: 96px;
  }

  .privacy_backtotop {
    left: 83%;
  }

  .tos_backtotop {
    left: 95%;
  }

  .rights_span {
    width: 300px;
    text-align: left;
  }

  .carousel_slide3 {
    top: 45vh;
  }

  #newlogo {
    margin-top: 10px;
  }

  .copyright_class {
  }

  .footer_class {
    height: 80px;
  }

  #partners {
    padding-bottom: 3.5em;
  }
  #menu_first_link {
    margin-left: 10px;
  }

  #home {
    padding-left: 30px;
    padding-right: 20px;
  }

  .version_number {
    float: right;
  }

  #partners_focus {
    width: 80%;
    margin:0 auto;
    text-align: center;
  }

  #whoweare p {
    width: 68%; 
    margin: 0 auto; 
    text-align: left;
  }

  #termsdiv {
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
  }


  #whatwedo_pricingdiv.fh5co-pricing-style-2 {
    padding: none;
  }

/*  .version_number {
    position: relative;
    right: 13.125em;
  }
*/
    .terms {
      margin-left: -4.155em;
    }

    #know_more {
      margin-bottom: -50px;
      position: relative;
      top: 65px;
    }

   .item {
      background-image: linear-gradient(rgba(16, 17, 153, 0.7),rgba(237, 42, 84, 0.7)),url('images/banner_carousel.jpg');
   }
/*   .social_icons {
      position: relative;
      right: 600px;
   }*/

   #slide2_div {
      margin-top: -100px;
   }

   .purpose_class {
      position: relative;
      right: 280px;
      top: 255px;
      transition: 0.8s;
   }

   .purpose_class p {
      font-size: 22px;
   }

   .serve_class {
      position: relative;
      left: 320px;
      top: 100px;
      transition: 0.8s;
   }

   .serve_class p {
      font-size: 22px;
   }

   .partner_class p {
      font-size: 22px;
   }
}



@media only screen and (max-width: 500px) {

/*  #haveQuery {
    padding-top: 5em;
  }
*/

.closecorner {
  width: 30px;
  height: 30px;
  font-size: 15px;
  padding: 1px 5px 1px 6px;
}


.whatwedo_p {
  padding-bottom: 2em;
}

.slide-text > p {
  text-align: left;
}

.slide-text > div > p {
  text-align: left;
}

  .modal-open::-webkit-scrollbar {
    width: 5px;
  }

  .modal-open::-webkit-scrollbar-track {
  }
 
  .modal-open::-webkit-scrollbar-thumb {
    background-color: red;
    outline: 1px solid blue;
  }


#referpatients_span_hospital {
  bottom: 20px;
}

.referpatients_span {
  position: absolute; 
  bottom: 30px; 
  left: 0; 
  right: 0;
}

#patients {
  background-image: linear-gradient(rgba(16, 17, 153, 0.7),rgba(237, 42, 84, 0.7)),url("images/bg-3.png");
}

.copyright_p {
  width: 90%;
  margin: 0 auto;
}

.backtotop_btn {
  position: absolute; 
  right: 30px; 
  bottom: 20px;
}

  .referpatients_p {
    font-size: 13px; 
    line-height: 20px; 
    text-align: left; 
    width: 80%; 
    margin: 0 auto;
  }

  .privacy_header {
    padding-top: 25%;
  }

  .privacy_backtotop {
    left: 85%;
  }

  .tos_backtotop {
    left: 85%;
  }


.social_icons {
  padding-bottom: 3em;
}

.footer_class {
  display: flex; 
  align-items: center; 
  flex-direction: column;
  justify-content: space-between;
}

  .navbar-collapse {
    box-shadow: 0px 5px 5px -5px grey;
  }

/*  h2.haveQueryDiv::before { 
  display: block; 
  content: " "; 
  margin-top: 50px; 
  height: 25px; 
  visibility: hidden; 
  pointer-events: none;
}
*/

  .carousel_p {
    width: 280px;
    text-align: center;
    margin: 0 auto;
    font-size: 14px!important;
  }

  .carousel_slide3 {
    top: 40vh;
  }

  .footer_class {
    height: 200px;
  }

  .copyright_class {
  }

  .menu_links {
    color: #777;
  }

  .privacy_footer {
    background-color: #f0f0f8;
  }

  #termsdiv {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  .new-logo {
    display: block!important;
  }

  #partners {
   padding-top: 40px;
 }

  .hospitalspan {
   height: 475px;
  }

     .purpose_class {
        margin-top: -50px;
   }

    #whatwedo {
    padding-top: 50px;
  }

    #referapatients {
    padding-top: 85px;
  }

  .hospital_img {
    margin: 10px auto 10px 115px;
  }

  .whatweoffer_card {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }

  .whatweoffer_card .second_cards p {
      width: 170%!important;
      text-align: left!important;
      margin-left: 15%;
  }

  .partnerwithus_card {
    padding-bottom: 50px;
  }

  #partners_p {
    width: 80%;
    margin: 0 auto;
    text-align: left!important;
  }

  #partners_focus.black-color-font {
    width: 80%;
    margin: 0 auto;
    text-align: left!important;
  }

  .firstone p {
    width: 80%;
    margin: 0 auto;
    text-align: left!important;
    padding-bottom: 40px;
    word-spacing: 1px;
  }

/*  .referapatientscards {
    margin-bottom: 50px;
  }*/

  .whatwedo_p {
    width: 80%!important;
    margin: 0 auto;
    text-align: left!important;
  }

  #whoweare p {
    width: 73%!important;
    text-align: left!important;
    margin: 0 auto;
  }

  #homepage .new-logo {
    display: none;
  }

  .navbar-brand > img#newlogo {
    position: relative;
    top: 1em;
    background-color: white;
    left: -0.5em;s
  }

  #homepage.site-logo.new-logo {
    display: block!important;
  }

  .oldlogo {
    display: none!important;
  }

  .footer_p {
    position: relative;
    left: 0px;
   }

   .navbar-default .navbar-nav > li > a {
    padding-top: 20px;
   }

   .our_purpose p {
    line-height: 1.5em;
   }

   .impact_class p {
      font-size: 14px;
      line-height: 1.5em;
   }

   .impact_class h1 {
    font-size: 22px;
   }

   .partner_class {
      position: relative;
      top: 130px;
      padding-top: 50px;
   }

   .item {
      width: 350px;
      background-image: linear-gradient(rgba(16, 17, 153, 0.7),rgba(237, 42, 84, 0.7)),url('images/background_small.png');
      background-size: cover;
      background-repeat: no-repeat;
   }

   .partner_class p {
      line-height: 1.5em;
   }

   .what_we_offer_head {
      color: white;
      font-size: 20px;
      padding-bottom: 10px;
      width: 200px;
   }
   .footer-bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
   #slide2_div {
      margin-bottom: -100px;
   }

   .slide-text > div > h1 {
      font-size: 22px;
      margin-bottom: 5px;
   }

   .slide-text > div > know_more {
      padding-top: 10px;
   }
   .slide-text > div > p {
      font-size: 14px;
      margin-bottom: 5px;
      margin-left: 8%;
   }

   #meds_equip {
      text-align: center;
   }
   #slide2_div {
      justify-content: flex-end;
   }
  .pricing-price {
   margin-top: 20px;
  }
  .hospital_pricing {
   margin-left: -10px;
  }
  .hospital_pricing_one {
   position: relative;
   right: 17px;
  }
  .wrapperone {
    width: auto;
  }
  .secondone {
    display: grid;
    grid-template-columns: 100%;
  }
  .secondone_card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -60px;
  }
  .secondone_card p {
    text-align: left;
  }

  .newfooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  .media_icons {
    padding-left: 30px;
    margin-right: -70px;
  }

  .second_cards {
   display: flex;
   flex-direction: column;
   align-items: center;
   }
/*   .footerul {
   padding-bottom: 200px;
   }*/
   .footer-bottom p {
      margin-bottom: 10px;
   }
   #slide2_div.purpose_class h1 {
      font-size: 18px;
   }
   #slide2_div.serve_class h1 {
      font-size: 18px;
   }
   .partner_class p {
      font-size: 14px;
   }
   .impact_class.slide_text.slide_style_center {
      position: relative!important;
      bottom: 50px!important;
   }

   .social_icons {
    display: flex;
    justify-content: center;
   }
};

@media only screen and (max-width: 800px) {
  .wrapperone {
    width: auto;
  }
  .secondone {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .secondone_card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
  }
  .secondone_card p {
    text-align: left;
  }
  .newfooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
};

@media only screen and (max-width: 320px) {
  .wrapperone {
    width: auto;
  }
  .secondone {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .secondone_card {
    display: grid;
    grid-template-rows: 40% 60%;
    text-align: left;
  }

  .fh5co-cover.fh5co-cover-style-2.js-full-height {
    width: 100vw;
    height: auto;
  }
  .newfooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  .media_icons {
    padding-left: 30px;
    margin-right: -70px;
  }
   .second_cards {
   display: flex;
   flex-direction: column;
   align-items: center;
   }
}

@media only screen and (min-width: 1000px) {
  .what_we_offer_head {
    text-align: left!important;
  }
}

  #horizontal_form input:-webkit-autofill {
    background-color: white!important;
  }

/* records.php styles */

.table_records th {
	text-align: center;
	background-color: #333;
	color: white;
}

.table_records td {
	text-align: left;
  max-width: 100px;
  overflow-wrap: break-word;
}

.table_records td:first-child {
	text-align: center;
}

.alert {
    position: fixed;
    top: 90px;
    min-width: 400px;
    margin: 0 auto;
    right: 10px;
    z-index: 99999;
}

.table_head {
	clear: both;
}



/* Table switch on tab click styles */



.tablenew {
  display: block;
}


/* new css */
.no-bottom-gap {
  margin-bottom: 0px;
  color: #333;
}

.no-padding-left {
  padding-left: 0px;
}

.no-padding-right {
  padding-right: 0px;
}

.text-bold {
  font-weight: bold;
}

.med-page-banner {
  /*background-image: url(img/med-equip-banner.jpg);*/
  background-image: linear-gradient(rgba(16, 17, 153, 0.7),rgba(237, 42, 84, 0.7)),url(../images/med1-equip-banner.jpg);
  background-size: cover;
  height: 330px;
  width: 100%;
  position: relative;
}

.med-banner-icon {
  position: absolute;
    background-color: #fff;
    box-sizing: content-box;
    padding: 24px;
    border-radius: 50%;
    top: 45%;
    left: 45%;
}

.med-page-banner h2 {
  color: #fff;
    font-size: 28px;
    position: absolute;
    left: 35%;
    bottom: 6%;
}

.med-banner-icon.nurse h2 {
      left: 45%;
}

.med-page-head {
  /*margin-top: 60px;*/
    font-size: 34px;
    margin-bottom: 25px;
}

.med-sub-title {
  font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
}


.medical-equip-table table {
  width: 100%;
  border-collapse: collapse;
}

.medical-equip-table table tr th,
.medical-equip-table table tr td {
  border: 1px solid #ccc;
  width: 50%;
}

.medical-equip-table table tr th {
  padding: 10px;
}

.medical-equip-table table tr td ul li {
  margin-bottom: 30px;
}

.medical-equip-table table tr td:first-child ul li:first-child {
  margin-top: 30px;
}

.para-content {
  margin-bottom: 20px;
}

.para-content p {
  display: inline;
}

.final-med-cont span {
  color: #e33671;
}

.final-med-cont .sub {
  font-weight: bold;
  color: #333
}

.med-article-title {
  position: relative;
}

.med-article-title span {
  background-color: #fff;
  display: inline-block;
    padding-right: 15px;
}

.med-article-title:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #ccc;
  top: 10px;
  left: 0;
    z-index: -1;
}

.second-list {
  margin-bottom: 30px;
  margin-top: 20px;
}

.second-list li {
  margin-bottom: 15px;
}

.desk-top-para {
  display: block;
}

.mob-para {
    display: none;
}

.each-article-thumb {
  position: relative;
  width: 100%;
  height: 350px;
  margin-bottom: 10px;
}

.each-article-thumb img {
  width: 100%;
  height: 100%;
}

.each-article-thumb .art-thumb-overlay {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
  padding-left: 15px;
}

.art-thumb-overlay .title {
  background-color: #fff;
    color: #333;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 4px;
}

.art-thumb-overlay p {
  color: #fff;
  font-size: 22px;
}

.art-thumb-overlay .bottom-detail {
  color: #fff;
}

.bottom-detail {
  position: relative;
}

.bottom-detail span:first-child {
  padding-right: 10px;
  border-right: 2px solid #fff;
}

.bottom-detail span:last-child {
  padding-left: 10px;
}

.bottom-detail span:first-child:after {
  
}

.med-sub-sub-title {
  font-size: 16px;
}

@media (max-width: 800px) {
  .med-page-banner h2 {
        left: 28%;
  }

  .med-page-banner.nurse h2 {
      left: 42%;
  }


}

@media (max-width: 600px) {

  .mob-container {
    padding-left: 22px;
    padding-right: 22px;
  }

  .medical-equip-table table tr th {
    padding: 10px;
    font-size: 12px;
}

  .med-page-banner {
    height: 170px;
  }

  .med-page-head {
      margin-top: 30px;
      font-size: 24px;
      margin-bottom: 20px;
      text-align: center;
  }

  .med-banner-icon {
    padding: 18px;
    top: 23%;
      left: 41%;
  }

  .med-banner-icon img {
    width: 35px;
  }

  .med-page-banner h2 {
    font-size: 18px;
      left: 10%;
      font-weight: bold;

  }

  .medical-equip-table ul {
    padding-left: 25px;
  }

  .desk-top-para {
    display: none;
  }

  .mob-para {
    vertical-align: top;
      font-size: 13px;
      padding-top: 15px;
      display: block;
  }

  .medical-equip-table table tr td {
    vertical-align: top;
  }

  .medical-equip-table table tr td:first-child ul li:first-child {
      margin-top: 0px;
  }

  .each-article-thumb {
    height: 150px;
  }

  .each-article-thumb .art-thumb-overlay {
    padding-left: 5px;
    bottom: 0px;
  }

  .art-thumb-overlay .title {
    font-size: 11px;
      padding: 3px 5px;
  }

  .art-thumb-overlay p {
    font-size: 10px;
  }

  .art-thumb-overlay .bottom-detail {
    display: none;
  }

  .med-page-banner.nurse h2 {
        left: 37%;
  }

  .second-list p {
    text-align: justify;
  }

  .second-list.nurse ul {
        padding-left: 10px;
  }

}


@media (max-width: 320px)  {

  .med-page-banner h2 {
    left: 4%;
  }

  .med-banner-icon {
    top: 29%;
      left: 38%;
  }

}












